<{include file="analysis/time_header.html" app="ectools"}>

<{if $detail_hidden < 1}>
<!-- detail start -->
<div class="large">
    <{include file="analysis/detail.html" app="ectools"}>
</div>
<!-- detail end -->
<{/if}>

<{if $graph_hidden < 1}>
<!-- graph start -->
<table class="chart-view">
	 <tr><td valign="top">
        <{include file="analysis/graph.html" app="ectools"}>
    </td></tr>
</table>
<!-- graph end -->
<{/if}>

<{if $rank_html}>
<!-- rank start -->
<table class="chart-view">
	 <tr>
		<td valign="top">
			<{$rank_html}>
		</td>
	 </tr>
</table>
<!-- rank end -->
<{/if}>


