<div id="member-main" class="member-main">
    <h1 class="title"><{t}>同意退款申请<{/t}></h1>
    <form action="<{link app=aftersales ctl=site_member act=do_agree}>" enctype="multipart/form-data" encoding="multipart/form-data" method="post" name="return_save" id='x-return-form'>
        <div class="FormWrap">
			<div class="division">
                同意退款申请后，本次订单买家所支付的金额都会打还给买家，确认不发货同意退货么？
            </div>
    </div>
    <input type="hidden" name="return_id" value="<{$return_id}>">
	<input id="agree" type="submit" value="同意退货">
	<input type="button" value="发货" onclick="do_send('<{link app=aftersales ctl=site_member act=do_send}>','<{$return_id}>','<{$order_id}>');">
</form>
</div>
<script>
function do_send(url,return_id,order_id){
	new Request.HTML({
		url:url,
		method:'post',
		data:'return_id='+return_id+'&order_id='+order_id,
		update:$('member-main')
}).send();
}
</script>