<app>
    <name>优惠券使用记录</name>
    <description>优惠券使用记录</description>

    <author>
        <name>BBC 开发团队</name>
        <email></email>
        <url></url>
    </author>

    <version>0.1</version>
    <license>BBC license</license>
    <parent_model_class>dbeav_model</parent_model_class>

    <depends>
        <app>b2c</app>
    </depends>
</app>
