<{script src="jstools.js" app='desktop'}>
<{script src="autocompleter.js" app='b2c'}>
<style>
	ul.autocompleter-choices { position:absolute;list-style:none; margin:0; border:1px solid #7c7c7c; border-color:#7c7c7c #c3c3c3 #dddddd #c3c3c3; background-color:#fff; text-align:left; font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; z-index:65535;overflow:hidden;}
	ul.autocompleter-choices li { position:relative; margin:-2px 0 0 0; padding:0.2em 1.5em 0.2em 1em; display:block; float:none !important; cursor:pointer; font-weight:normal; white-space:nowrap; font-size:1em; line-height:1.5em; }
	ul.autocompleter-choices li.autocompleter-selected { background-color:#b10000; color:#fff; }
	ul.autocompleter-choices span.autocompleter-queried { display:inline; float:none; font-weight:bold; margin:0; padding:0; }
	ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried { color:#FFFFFF; }
    ul.autocompleter-choices li p{float:right;color:#DDDDDD}
</style>