<{if $isfront}>
<{input type="vobject" vtype="required" filter=$storeid_filter  object="products" mdl_object="object=products" name=$name cols="name,bn" multiple="true"  cols="name,spec_info" value=$value select="checkbox"  textcol="name,bn" view="b2c:admin/goods/rows.html"}>
<{else}>
<{input type="object" vtype="required" filter=$storeid_filter  object="products" mdl_object="object=products" name=$name cols="name,bn" multiple="true"  cols="name,spec_info" value=$value select="checkbox"  textcol="name,bn" view="b2c:admin/goods/rows.html"}>
<{/if}>