<{if count($data) > 0}>
<div class="border10 <{$widgets_classname}>" id="<{$widgets_id}>">
<div class="haveshop-title">购买该商品的用户还购买了</div>
<div class="haveshop-body">
<div class="GoodsListWrap GoodsList GoodsShow">
  <div class="GoodsSearchWrap">
    <ul class="clearfix pb5">
    <{foreach from=$data.goods item=product name=goods key=k}>
    <{if $product.goods_id > 0}>
      <li id="pdt-<{$product.goods_id}>" product="<{$product.goods_id}>" width="<{math equation=floor(100/x) x=$setting.column}>%;" class="items-gallery">
            <div class="goodpic" style='<{if $data.setting.pic_w !=0 && $data.setting.pic_h !=0}>height:<{$data.setting.pic_h}>px; <{/if}>'>
			<a target="_blank" href="<{link app=b2c ctl='site_product' act='index' arg0=$product.goods_id}>"  style='<{if $data.setting.pic_w !=0 && $data.setting.pic_h !=0}> width:<{$data.setting.pic_w}>px;height:<{$data.setting.pic_h}>px;<{/if}>' title='<{$product.name}>'> <img src="<{$product.image_default_id|default:$data.defaultImage|storager}>" alt="<{$product.name|escape:html}>" style='width:<{$data.setting.pic_w}>px;height:<{$data.setting.pic_h}>px;'/> </a> </div>
            <div class="goods-main">
            <div class="goodinfo entry-content">

                  <h3><a href="<{link app=b2c ctl="site_product" act="index" arg0=$product.goods_id}>" title="<{$product.name|escape:html}>" style="color:<{$data.setting.fontcolor}>;font-size:<{$data.setting.fontsize|default:'12'}>px;<{if $data.setting.fontstyle}><{$data.setting.fontstyle}>;<{/if}>" class="entry-title"><{$product.name|cut:$data.setting.maxlength}></a></h3>

				 <{if $data.setting.price==0}>
                <div class="price-wrap" >
                  <{$product.price|cur}>
                </div>
                <{/if}>
              </div>
            </div>
        </li>
      <{/if}>
      <{/foreach}>
    </ul>
  </div>
</div>
</div>
</div>
<style>
.border10{ margin-top:8px}
.border10 .border-title{ height:28px; line-height:28px;background:url(b1_t.gif) repeat-x; border:1px solid #ddd; padding:0 10px; font-weight:bold; color:#333}
.border10 .border-body{ border:1px solid #ddd; height:auto; overflow:hidden; _padding-bottom:4px}
.border10 .border-body li{ float:left; width:175px; margin:2px 6px 4px 6px;_margin:2px 2px; }
</style>
<{/if}>