
<div class="tableform">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
  <col class="Colgoodsid"></col>
  <col class="Colgoodsid"></col>
  <col class="Colgoodsid"></col>
  <col class="textleft"></col>     
    <thead>
      <th><{t}>商品名称<{/t}></th>
      <th><{t}>数量<{/t}></th>
      <th><{t}>申请商家<{/t}></th>
      <th><{t}>每人限购<{/t}></th>
      <th><{t}>状态<{/t}></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td class="textleft"></td>
      <td class="textleft"></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  </table>
</div>
