<div class="notice"><{t}>BBC证书是您享受BBC服务的唯一标识，它记录了您的商家信息、购买服务记录、充值帐户金额等重要信息。<{/t}><br><{t}>您需要通过“证书下载备份”功能备份证书，并妥善保管。在您遇到商店系统需要重新安装时，可以在新安装的系统中使用“证书上传恢复”功能将之前备份的证书恢复，这样新系统就可以继续使用证书内的重要信息。<{/t}></div>

<div class="tableform">
<{tabber}>
    <{tab name=$___desktop="证书下载备份"|t:'desktop'}>
        <{if $license}>
        <div class="clear division">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <th><{t}>当前证书:<{/t}></th>
                <td><{$certi_id}></td>
              </tr>
            </table>
            </div>
            <div class="table-action">
				<{assign var=___dc value=$___confirm_delete='如果删除证书，则无法恢复，确定要删除证书吗?'|t:'desktop'}>
                <{button label=$___desktop="下载证书"|t:'desktop' class="btn-primary"  onclick="window.open('index.php?app=desktop&ctl=certificate&act=download')" type="submit"}>
                <{button label=$___desktop="删除证书"|t:'desktop' class="btn-secondary" onclick="if (!confirm('{$___confirm_delete}')) return false; else W.page('index.php?app=desktop&ctl=certificate&act=delete');"}>
			</div>

        <{else}>
            <div class="notice">
			<{t}>
            提示：只有在网络服务器安装的BBC网上商城系统才拥有证书功能，您的商城系统由于是在本地安装，所以无BBC证书，无法使用BBC证书下载和上传功能。如果您将本地的商店系统迁移至服务器，则会自动获得BBC证书。<{/t}>
            </div>
        <{/if}>
    <{/tab}>
    
    <{tab name=$___desktop="证书上传恢复"|t:'desktop'}>
        <form action="index.php?app=desktop&ctl=certificate&act=upLicense" method="POST" enctype="multipart/form-data">
        <div class="division">

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th><{t}>请选择证书：<{/t}></th>
            <td><input name="license" type="file"></td>
          </tr>

        </table>
        </div>

        <div class="table-action">
              <{button class="btn-primary" type="submit"  label=$___desktop="上传恢复"|t:'desktop' }>
          </div>
        </form>
    <{/tab}>
<{/tabber}>
</div>
