<div class="tableform">
    <table>
        <tr>
		<td>
		<a href="javascript:;" onClick="javascript:W.page('index.php?app=search&ctl=search&act=reindex&type=<{$type}>&name=<{$name}>')" >重建索引</a><br />
		<a href="javascript:;" onClick="javascript:W.page('index.php?app=search&ctl=search&act=optimize&type=<{$type}>&name=<{$name}>')" >优化索引</a><br />
		<a href="javascript:;" onClick="javascript:W.page('index.php?app=search&ctl=search&act=status&type=<{$type}>&name=<{$name}>')" >查询状态</a>
		</td>
        </tr>
    </table>
</div>