<div class="tableform">
<h4>活动信息</h4>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
  <col class="Colgoodsid"></col>
  <col class="Colgoodsid"></col>
  <col class="Colgoodsid"></col>
  <col class="textleft"></col>     
    <thead>
      <th><{t}>活动名称<{/t}></th>
      <th><{t}>开始时间<{/t}></th>
      <th><{t}>结束时间<{/t}></th>
      <th><{t}>状态<{/t}></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><{$activity.name}></td>
      <td class="textleft"><{$activity.start_time}></td>
      <td class="textleft"><{$activity.end_time}></td>
      <td><{if $activity.act_open == 'true'}>开启<{else}>关闭<{/if}></td>
    </tr>
  </tbody>
  </table>
</div>
<div class="tableform">
<h4>申请信息</h4>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
  <col class="Colgoodsid"></col>
  <col class="Colgoodsid"></col>
  <col class="Colgoodsid"></col>
  <col class="textleft"></col>
    <thead>
      <th><{t}>捆绑名称<{/t}></th>
      <th><{t}>申请商家<{/t}></th>
      <th><{t}>商品总价<{/t}></th>
      <th><{t}>活动数量<{/t}></th>
      <th><{t}>每人限购<{/t}></th>
      <th><{t}>捆绑图片<{/t}></th>
      <th><{t}>商品名称<{/t}></th>
      <th><{t}>商品编号<{/t}></th>
      <th><{t}>状态<{/t}></th>
    </tr>
  </thead>
  <tbody>
    <{if $business.goods}>
    <{assign var="goods_sum" value=count($business.goods)}>
    <{foreach from=$business.goods item=item name=goods}>
    <tr>
      <{if $smarty.foreach.goods.first}><td rowspan="<{$goods_sum}>"><{$business.name}></td><{/if}>
      <{if $smarty.foreach.goods.first}><td rowspan="<{$goods_sum}>"><{$business.login_name}></td><{/if}>
      <{if $smarty.foreach.goods.first}><td rowspan="<{$goods_sum}>"><{$business.amount}></td><{/if}>
      <{if $smarty.foreach.goods.first}><td rowspan="<{$goods_sum}>"><{$business.store}></td><{/if}>
      <{if $smarty.foreach.goods.first}><td rowspan="<{$goods_sum}>"><{$business.presonlimit}></td><{/if}>
      <{if $smarty.foreach.goods.first}><td rowspan="<{$goods_sum}>">
        <{if $business.image}>
        <{foreach from=$business.image item=images}>
          <img src="<{$images.image_id|default:$defaultImage|storager:'s'}>" width="40" height="40" /><br/>
        <{/foreach}>
        <{/if}>
      </td><{/if}>
      <td><a href='<{$item.url}>' target="_blank"><{$item.name}></a></td>
      <td><{$item.bn}></td>
      <{if $smarty.foreach.goods.first}><td rowspan="<{$goods_sum}>"><{if $business.status==1}>待审核<{elseif $business.status==2}>审核通过<{else}>审核不通过<{/if}></td><{/if}>
    </tr>
    <{/foreach}>
    <{/if}>
  </tbody>
  </table>
</div>
<{if $business.status==1}>
<form method="POST" action="<{$from_submit_url}>" id="groupactivity-from">
<input type="hidden" value="<{$business.id}>" name="id">
   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
       <tr>
            <th>备注：</th>
            <td><{input type="textarea" class="x-input" value=$business.remark style="resize:none;" cols="50" rows="5" maxth="255"}></td>
       </tr>
   </table>
   <div class="table-action">
    <{button label="审核通过" type="button" id="groupactivity-btn" }>
    <{button label="审核不通过" type="button" id="groupactivity-cancel"}>
    </div>
</form>
<script>
    $('groupactivity-btn').removeEvent('click').addEvent('click',function(){
        $('groupactivity-from').fireEvent('submit',new Event(this));  
    });
    $('groupactivity-cancel').removeEvent('click').addEvent('click',function(){
        $('groupactivity-from').action = "<{$from_cancle_url}>";
        $('groupactivity-from').fireEvent('submit',new Event(this));  
    });
</script>
<{/if}>
