<app version="1.0">
  <name>投诉系统</name>

  <description>BBC 买家商家投诉系统</description>

  <author>
      <name>BBC 开发团队</name>
      <email></email>
      <url></url>
  </author>

  <version>0.1</version>

  <license>BBC license</license>
  <depends>
    <app>desktop</app>
    <app>content</app>
    <app>ectools</app>
    <app>b2c</app>
    <app>business</app>
  </depends>
</app>
