<table border="0" cellpadding="0" cellspacing="0" >
<tr>
           <th><{t}>姓名：<{/t}></th><td><{$the_dly_center.uname}></td>
           <th><{t}>地区：<{/t}></th><td><{$the_dly_center.region|region}></td>
          </tr>
         <tr>
           <th><{t}>邮编：<{/t}></th><td><{$the_dly_center.zip}></td>
           <th><{t}>地址：<{/t}></th><td><{$the_dly_center.address}></td>
         </tr>
         <tr>
           <th><{t}>手机：<{/t}></th><td><{$the_dly_center.cellphone}></td>
           <th><{t}>电话：<{/t}></th><td><{$the_dly_center.phone}></td>
         </tr>
</table>