<form method="POST" action="<{link app=cellphone ctl=admin_banner act=toAdd }>" id="groupactivity-from">
<div class="goods-detail tableform">
    <h3><{t}>基本信息<{/t}></h3>
	<input type="hidden" name="id" value="<{$item.id}>">
    <div class="division">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" >
          <tr>
          <th><{t}>选择类型：<{/t}></th>
                <td>
                  <input type="hidden" name="associate_type" id="associate_type" value="<{$item.associate_type}>" >
                  <input type="radio" name="associate"  typevalue="goods" <{if $item.associate_type=="goods" }>checked <{/if}>><{t}>商品类<{/t}>
                  <input type="radio" name="associate" typevalue="activity" <{if $item.associate_type=="activity" }>checked <{/if}>><{t}>活动类<{/t}>
                  <input type="radio" name="associate" typevalue="article"  <{if $item.associate_type=="article" }>checked <{/if}>><{t}>文章类<{/t}>
                 
                </td>
            </tr>
		<tr>
          <th><{t}>请选择：<{/t}></th>
         <td >
			<div id= "select_type">
        <{if $item.associate_type=="goods"}>
     <{input type="object" object="goods@b2c" vtype="required" name="associate_id" multiple=false  select="radio" value=$item.associate_id}>
                 
		<{/if}>
		<{if $item.associate_type=="article"}>
     <{input type="object" object="article_indexs@content" vtype="required" name="associate_id" multiple=false select="radio" value=$item.associate_id}>
		<{/if}>
		<{if $item.associate_type=="activity"}>
		
		<{input type="object" object="activity@cellphone" name="associate_id" multiple=false  select="radio" value=$item.associate_id}>
	<{/if}>	
	
			<div>
           </td>
				
            </tr>
          <tr>
                <th><{t}>开始时间：<{/t}></th>
                <td><{input type="time"  value="{$item.start_time}" name="start_time"}></td>
            </tr>
            <tr>
                <th><{t}>结束时间：<{/t}></th>
                <td><{input type="time" value="{$item.end_time}" name="end_time"}></td>
            </tr> 
			<tr>
                <th><{t}>启用：<{/t}></th>
                <td>
                    <input type="radio" value="true" <{if $item.is_active=='true'}>checked<{/if}> name="is_active" >开启
                    <input type="radio" value="false" <{if $item.is_active!='true'}>checked<{/if}> name="is_active" >关闭
                </td>
            </tr>
			<tr>
    <th>上传图片：</th>
       <td>
       <{input type="image" name="image_id" value=$item.image_id width=160 height=90}>
       <{t}><em><font color="red">为取得最佳显示效果广告图片尺寸比例为640*200</font></em><{/t}>
       </td> 
			</tr>
        </table>
    </div>
   
</div>
<div class="table-action">
   <{button label="保存" type="submit" id="groupactivity-btn" }>
    <{button label="取消" id="groupactivity-cancel" href=$reUrl}>
</div>
<form>
<script>
 

  $ES("input[name^=associate]").each(function(item){
    
  item.addEvent('change',function(){
      
   $ES("input[name^=associate]:checked").each(function(v,k){
 
    var select_type = '';
	select_type=v.get('typevalue');
	$('associate_type').set('value',select_type);
	//alert($('associate_type').get('value'));
	type = $('select_type');
    var request = new Request.HTML({
                    url:'<{link app="cellphone" ctl="admin_banner" act="changeType" }>',
                    update:type,
                    onComplete:function(res){
                       type.show();
                    }
         }).post('select_type='+select_type);
	
       });

          
    });
});


</script>