<app>
    <name>标签管理</name>
    <description>tags 标签管理</description>

    <author>
        <name>BBC 开发团队</name>
        <email></email>
        <url></url>
    </author>

    <version>0.1</version>
    <license>BBC license</license>
    <parent_model_class>dbeav_model</parent_model_class>

	<depends>
		<app>desktop</app>
        <app>site</app>
	</depends>
</app>
