<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Exception</title>
<link href="statics/style.css" rel="stylesheet" type="text/css" />
<style>
    body{font-family:Verdana;line-height:25px;}
</style>
</head>
<body>
        
        <div class="error">
            <div class="clearfix">
                <div class="span-auto"><img src="statics/infonotice.gif"/></div>
                <div class="span-auto">
                    <b>尊敬的用户：</b><br/><b>
            由于网络传输原因，该功能暂不可用，请稍后再试。</b>

            <p class="font9px fontcolorRed"><script>document.write(new Date());</script></p>
                </div>
            </div>
            
        </div>
</body>
</html>

