<tr>
<td colspan="2" class="gift_item"><div class="gift_name"><{$giftpackage_order.name}></div>
  <table width="100%" border="0" >
  <{foreach from=$giftpackage_order.order_items item=item}>
    <tr>
      <td style="border-right:none;text-align:left;padding:5px">
        <a href="<{$item.link}>" target="_blank"><{$item.name}></a>
        <a style='text-decoration:none;' class='x-view-img' href='javascript:void(0);' imgsrc='<{$item.small_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>'  title='<{$item.name}>'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </td>
    </tr>
  <{/foreach}>
  </table></td>
</tr>