<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<title><{$conf.installer.title}></title>
	<{css src="framework.css"}>
    <{css src="installer.css"}>
    <style>
		<{$conf.installer.style}>
	</style>
    <{if $install_bg}>
    <style>.installer-info .installer-proimg{ background:url(<{$install_bg}>) no-repeat;}</style>
    <{else}>
    <style>.installer-info .installer-proimg{ background:url(<{$statics_url}>/undefine_setup_product.jpg) no-repeat;}</style>
    <{/if}>
	</head>

	<body>
<div class="container">
 <div class="logo">
    <div class="banner"><{$conf.installer.banner}></div>
 </div>
 <div class="container-all">
  <div class="installer-main clearfix" id="installer-body">
		 <div class="installer-steps"></div>
		 <div class="installer-info" style="height:310px;">
			   <div class="installer-proimg"></div>
			   <div class="installer-proinfo installer-proinfow">
					<div class="installer-success-title">
						<{$conf.installer.finish.message}>
					</div>
			   </div>
		 </div>
  </div>
 </div>
 <div class="copyright">&copy; 2003-<script>document.write(new Date().getFullYear())</script> <a href="http://www.shopex.cn" target="_blank">ShopEx</a></div>
</div>
</body>
</html>
