<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{t}>安装界面<{/t}></title>
<link href="../statics/program.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="contant">
 <div class="logo"><div class="logo-image"></div></div>
 <div class="main">
  <div class="left">
   <div class="left-top"></div>
   <div class="left-nav">
    <ul>
    <li class="nav-current">1.<{t}>软件协议<{/t}></li>
    <li class="nav-unselected">2.<{t}>信息配置<{/t}></li>
    <li class="nav-unselected">3.<{t}>安装软件包<{/t}>（9）</li>
    </ul>
   </div>
   <div class="left-bottom"><a href="#"><{t}>打开安装控制台<{/t}></a><span>(<{t}>高级<{/t}>)</span></div>
  </div>
  <div class="right">
   <div class="right-top">
    <div class="right-topangle"></div>
   </div>
   <div class="right-main">
    <div class="right-main-title"><{t}>软件使用协议<{/t}></div>
    <div class="right-main-info">
     <div class="info-license">
    <{t}>ShopEx依法享有该软件之版权和著作权:<{/t}>

<{t}>中国国家版权局著作权登记号2005SR03594 ShopEx官方网站为 http://www.shopex.cn 官
方论坛为http://bbs.shopex.cn

ShopEx免费提供ShopEx网上商店系统，您可以在完全遵守本最终用户授权协议的基础上，
将本软件应用于非商业用途而不必支付费用。但该软件的授权使用者（含个人、法人或其
它组织）：

1.
未获商业授权之前，不得将本软件用于商业用途（包括但不限于企业网站、经营性网站、
以营利为目或实现盈利的网站）。

2.不得对本软件或与之关联的商业授权进行出租、出售、抵押或发放子许可证。

3.
ShopEx将本软件提供给授权用户，同时提供软件的安装说明、使用说明等文档，授权网站
和用户依法享有该软件的使用权。

4.授权用户拥有其系统内全部会员资料、商品资料、订单资料及相关信息的所有权，并独
立承担相关法律义务。

5.
利用本授权软件发生的商业行为均由授权用户自行负责，利用本软件进行商业行为所产生
的一切纠纷均与ShopEx无关；

6.
为方便用户使用，软件内置了譬如网上支付网关等诸多第三方系统。但您应自行评估使用
这些系统的风险。这些系统的具体开通与服务由相应第三方公司提供，由此而产生的任何
商业纠纷，均与ShopEx无关；

7.
授权用户可免费获得并安装使用最新的ShopEx软件；依据所购买的服务类型中确定的技术
支持期限、技术支持方式和技术支持内容在技术支持期限内通过指定的方式获得指定范围
内的技术支持。被授权用户享有反映和提出意见的权力，相关意见将被作为首要考虑，但
没有一定被采纳的承诺或保证。

8.
软件的收费服务是指对购买付费技术支持的用户在相应年限内对许可软件提供必要的支持
，支持范围包括软件安装、调试、升级和使用过程中出现的问题，或是因为软件本身的错
误引起的问题提供必要的支持。收费技术支持的内容并不包括授权用户因为自身需要而要
求调整、增加或者定制功能的内容，授权用户如有这方面的需要，可另行和ShopEx共同制
定一个双方都同意的补充协议。

9.
授权软件升级前授权用户应自行备份数据，升级过程中造成的授权用户数据丢失的ShopEx
不负担责任。对于授权软件使用过程出现问题需要重新安装或修复者，ShopEx将提供予必
要的支持，但此修复或重新安装不能保证软件恢复到损坏前的状态，所造成的数据丢失
ShopEx不承担责任。

10.
ShopEx不对因授权软件使用错误、软件错误等问题所引起的授权用户损失而承担任何责任
，但ShopEx将尽量避免此类情况的发生且对付费授权用户在出现此类问题的情况下提供必
要的支持服务。<{/t}>
 </div>
    </div>
    <div class="right-main-btn"><a href="#"><img src="../statics/setup_15.gif" width="141" height="29" /></a></div>
   </div>
   <div class="right-bottom">
   <div class="right-bottomangle"></div>
   </div>
  </div>
 </div>
  <div class="copyright">2003-2010<span>ShopEx.cn</span></div>
</div>
</body>
</html>
