@charset "utf-8";
body,html,div,ul,li,dl,dd,dt,img,span,p,a,ol,input,select,table,tr,td,hr,h1,h2,h3,h4,h5,h6,form{margin:0px;padding:0px;}
body{font-size:12px;color:#898989;font-family:"Microsoft Yahei",Tahoma,"SimSun";background:#ffffff;}
a{color:#2D64B3;text-decoration:none;cursor:pointer;}
a:hover{text-decoration:underline;color:#2D64B3;}
a,area{blr:expression(this.onFocus=this.blur())} /* for IE */
:focus{-moz-outline-style:none;} /* for Firefox */
a{outline:none;} /* for FF Chrome */ 

ul,ol,li,dl{list-style:none;padding:0;margin:0;}
hr{height:1px;}
select,input,img{vertical-align:middle;margin:0;padding:0;}
input,buttom{border:0;}
a img{border:none;vertical-align:middle}
/* brands */ 
.brands{overflow:hidden;margin:10px 10px;padding:10px 10px;border:1px solid #f1f1f1;width:621px;}

.brands_abc{float:left;height:540px;overflow:hidden;border-right:1px dotted #E1E1E1}
.brands_abc ul{overflow:hidden;}
.brands_abc ul li a{background:#fcfcfc;border-radius:2px;font-size:14px;border:1px solid #f1f1f1;height:18px;width:18px;line-height:18px;cursor:pointer;text-align:center;color:#898989;display:block;}
.brands_abc ul li a:hover{background:#79d06a;color:#ffffff;height:18px;width:18px;display:block;border-color:#79d06a;}
.brands_abc ul .abc_on a{background:#819FD9;color:#ffffff;height:18px;width:18px;display:block;border-color:#819FD9;}

.brands_namel{float:left;width:239px;height:519px;overflow:hidden;padding:10px 10px;background:#FCFCFC;border-right:1px solid #E6E6E6;border-top:1px solid #E6E6E6;border-bottom:1px solid #E6E6E6;}
.brands_search{}
.brands_search{background:#F7F7F7;padding:2px 3px;border:1px solid #F1F1F1;}
.brands_search input{background:url(../images/brands1.png) no-repeat 2px 2px #ffffff;height:20px;padding-left:23px;width:208px;}
.brands_namez{overflow-y:auto;height:473px;padding:10px 0px;}
.brands_namez div{line-height:24px;height:24px;padding-left:6px;overflow:hidden;width:215px;}
.brands_namez div span{margin-right:5px;}
.brands_namez .namez_on{background:#819FD9;color:#FFFFFF;overflow:hidden;width:215px;}

.brands_btn{float:left;width:80px;height:540px;overflow:hidden;}
.add,.del,.adddisablel,.deldisablel{background:url(../images/brands3.png) no-repeat left 0;height:49px;width:45px;margin-left:17px; margin-top:80px;}
.add{margin-top:177px;}
.del{background-position:left -138px;}
.adddisablel{background-position:left -69px;}
.deldisablel{background-position:left -207px;}


.brands_namer{float:left;width:238px;padding:10px 10px;height:519px;background:#FCFCFC;border:1px solid #E6E6E6;}
.brands_namez2{padding:10px 0px;height:463px;overflow-y:auto;}
.brands_namez2 div{line-height:24px;height:24px;padding-left:6px;overflow:hidden;width:215px;}
.brands_namez2 div span{margin-right:5px;}
.brands_namez2 .namez_on{background:#819FD9;color:#FFFFFF;overflow:hidden;width:215px;}

.sel-opt{float:left;width:160px;}
.sel-opt label{margin-right:10px;}
.selected-tip{float:right;}


