<app>
    <name></name>
    <description>Project </description>

    <author>
        <name>author name</name>
        <email>author email</email>
        <url>http://author.example.com</url>
    </author>

    <version>0.1</version>
    <license>Mit license</license>

	<depends>
		<app>base</app>
	</depends>

</app>
