
<form method="POST" action="<{link app=cellphone ctl=admin_columntype act=toAdd}>" id="groupactivity-from">
<div class="goods-detail tableform">
    <h3><{t}>基本信息<{/t}></h3>
	<input type="hidden" name="columntype_id" value="<{$item.columntype_id}>">
    <div class="division">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <th><{t}>栏目类型：<{/t}></th>
                <td><{input type="text" value="{$item.columntype_name}" name="columntype_name" size="22" vtype="required"}><em><font color="red">*</font></em></td></td>
            </tr>
            <tr>
                <th><{t}>录入时间：<{/t}></th>
                <td><{input type="date" value="{$item.columntype_createtime}" name="columntype_createtime" size="30" vtype="required"}><em><font color="red">*</font></em></td>
            </tr>
			  <tr>
                <th><{t}>选择样式类型：<{/t}></th>
                <td> 
                  <input type="radio" name="css_type" value='1'  <{if $item.css_type=="1" }>checked <{/if}>><{t}>样式1<{/t}>
                  <input type="radio" name="css_type"  value ='2'  <{if $item.css_type=="2" }>checked <{/if}>><{t}>样式2<{/t}>
				 
                </td>
            </tr>
			  <tr>
                <th><{t}>排序：<{/t}></th>
                <td><{input type="text" value="{$item.d_order}" name="d_order" size="10" vtype="required"}><em><font color="red">*</font></em></td>
            </tr>
            <tr>
                <th><{t}>栏目描述：<{/t}></th>
                <td>
				<{input type="textarea" class="x-input" value="{$item.columntype_description}" name="columntype_description" style="resize:none;" cols="50" rows="5" maxth="255" }></td>
            </tr>
          
        </table>
    </div>
    
<div class="table-action">
    <{button label="保存" type="submit" id="groupactivity-btn" }>
	  <{button label="取消" type="button" id="groupactivity-btn" href=$reUrl}>
</div>
<form>


