<table width="100%" cellspacing="0" class="gridlist mc-gift">
<col class="span-auto"/>
<col class="span-2"/>
<col class="span-2"/>
<col class="span-3"/>
<col class="span-auto"/>
<tbody>
<tr class="havechild">
    <td style="padding:0" width="43%" >
      <div class="clearfix horizontal-m">
        <div class='product-list-img ml10 goodpic' isrc="<{$giftpackage_order.thumb|default:$default_image|storager:'s'}>" ghref='<{link app=giftpackage ctl=site_giftpackage act="index" arg0=$giftpackage_order.goods_id}>'>
            <img src='<{$res_url}>/loading.gif'/>
        </div>
        <div class="goods-main"style="width:65%">
        <div class="goodinfo">
            <h6>
            <span class="fontbold gift-title">[捆绑商品]</span>
            <a target="_blank" href="<{link app=giftpackage ctl=site_giftpackage arg0=$giftpackage_order.goods_id}>"><{$giftpackage_order.name}></a></h6><span class="price-normal"><{$giftpackage_order.total_amount|cur_odr:$orderdata.currency}></span>
          </div>
        <div class="price-wrap" style=" padding:0 1px;font-weight:bold ">
        </div>
        </div>
      </div>
    </td>
    <td align="right" width="36%"><{$giftpackage_order.quantity}>

    </td>
    <td align="right" class="vm font-orange"> <{$giftpackage_order.price|cur_odr:$orderdata.currency}></td>
    <td  align="center" width="11%"><{$giftpackage_order.score}></td>
</tr>
</tbody>


<!-- 捆绑商品信息 -->

<tr>
    <td colspan="5">
      <{if $giftpackage_order.order_items}>
      <{foreach from=$giftpackage_order.order_items item=goods}>
       <div  class="horizontal-m giftpackage-wrap">
        <div class='product-list-img goodpic' isrc="<{$goods.small_pic|default:$default_image|storager:'s'}>" ghref='<{link app=b2c ctl=site_product act="index" arg0=$goods.goods_id}>'>
           <img src='<{$res_url}>/loading.gif'/>
        </div>
        <div class="goods-main">
          <div class="goodinfo">
          <h6><a target="_blank" href="<{link app=b2c ctl=site_product arg0=$goods.goods_id }>"><{$goods.name}></a></h6>
          <p><{$goods.spec_info}></p>
          </div>
        </div>
       </div>
      <{/foreach}>
      <{/if}>
    </td>
</tr>
</table>
