/* -------------------------------------------------------------- 
  
   print.css
   * Gives you some sensible styles for printing pages.
   * See Readme file in this directory for further instructions.
      
   Some additions you'll want to make, customized to your markup:
   #header, #footer, #navigation { display:none; }
   
-------------------------------------------------------------- */

body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;   
  color:#000;
  background: none;
  font-size: 10pt;
  margin:0;
  padding:0;
}


/* Layout
-------------------------------------------------------------- */

.container {
  background: none;
}

hr { 
  background:#ccc; 
  color:#ccc;
  width:100%;
  height:2px;
  margin:2em 0;
  padding:0;
  border:none;
}
hr.space {
  background: #fff;
  color: #fff;
}


/* Text
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif; }
code { font:.9em "Courier New", Monaco, Courier, monospace; } 

img { border:none; }
a img { border:none; }
p img.top { margin-top: 0; }

blockquote {
  margin:1.5em;
  padding:1em;
  font-style:italic;
  font-size:.9em;
}

.small  { font-size: .9em; }
.large  { font-size: 1.1em; }
.quiet  { color: #999; }
.hide   { display:none; }


/* Links
-------------------------------------------------------------- */

a:link, a:visited {
  background: transparent;
  font-weight:700;
  text-decoration: underline;
}

a:link:after, a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
}

iframe, #messagebox { display: none; }

/* If you're having trouble printing relative links, uncomment and customize this:
   (note: This is valid CSS3, but it still won't go through the W3C CSS Validator) */

/* a[href^="/"]:after {
  content: " (http://www.yourdomain.com" attr(href) ") ";
} */

.gridlist { border-collapse:collapse; border:1px solid #C8D6DC }
.division td .gridlist { width:auto; }
.gridlist caption{line-height:25px; padding:1px 8px; background:none; border:1px solid #D5DFE3; border-bottom:none; text-align:left; font-weight:700;}
.gridlist thead th { font-size:12px; padding:0 3px; height:25px; line-height:25px;border-bottom: 1px solid #C8D6DC;border-right:1px solid #c8d6dc; font-weight:normal; text-align:center; white-space: nowrap; vertical-align: middle; color:#000; }
.gridlist thead td { border-bottom:1px solid #eee;}
.gridlist tbody th .gridlist tbody td{ text-align: left; font-weight: bold; padding: 12px 10px 0; font-size: 12px; border-bottom: none; }

.gridlist tbody td,
.gridlist tbody th { text-align: center; height: 27px; line-height: 27px; border-bottom: 1px solid #C8D6DC;border-right: 1px solid #C8D6DC; white-space:normal; padding: 0 3px; vertical-align: middle; }