body
{
	background-color: #ffffff;
	padding:0;
	margin: 0;
    cursor:text;
    width:100%;
    height:100%;
    overflow:auto; 
}

body, td
{
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
}

a[href]
{
	color: -moz-hyperlinktext !important;		/* For Firefox... mark as important, otherwise it becomes black */
	text-decoration: -moz-anchor-decoration;	/* For Firefox 3, otherwise no underline will be used */
}
table {
border-collapse:separate;
border-spacing:1;
background:#999;
border:1px solid #999;
}
table  td{
   border:none;
   background:#fff;
}
