<form method="post" action="index.php?app=b2c&ctl=admin_goods&act=index&action=to_export" class="tableform" target='csv_tmpl_form' enctype="multipart/form-data">
  <h4><{t}>商品数据模板下载 (.CSV格式)<{/t}></h4>
  <input type='hidden' value='csv' name='_io_type'/>
  <div class="division">
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <th><{t}>请选择商品类型：<{/t}></th>
        <td>
        <select name='_gType'>
	        <{foreach from=$gtype item=item}>
	        <option value='<{$item.type_id}>'><{$item.name}></option>
	        <{/foreach}>
        </select>
        </td>
      </tr>
    </table>

  </div>
  <div class="table-action">

  <{button class="btn-primary" label=$___b2c="下载"|t:'b2c' type="submit"}>
  </div>
  <iframe name='csv_tmpl_form' frameborder="0" scrolling="no" style="display:none">
  </iframe>
</form>
