<form action="index.php?ctl=users&act=chkpassword&finder_id=a9b819" id="user-chkpass-form" method="POST">
    <div class="tableform">
     <div class="division">
         <input type="hidden" name="user_id" value="<{$user_id}>" />
                <table cellspacing="0" cellpadding="0" width="100%">
                <tbody>
                <tr><th><em class="red">*</em><label for="dom_el_ea78c40"><{t}>超级管理员密码：<{/t}></label></th><td><input type="password" id="dom_el_ea78c40"  vtype="required"  name="old_login_password" title="<{t}>用户名：<{/t}>" class="x-input " autocomplete="off"/></td></tr>
                <tr><th><em class="red">*</em><label for="dom_el_ea78c41"><{t}>新密码：<{/t}></label></th><td><input type="password" id="dom_el_ea78c41" vtype="required" name="new_login_password" title="<{t}>密码：<{/t}>" class="x-input " autocomplete="off"/></td></tr>
                <tr><th><em class="red">*</em><label for="dom_el_ea78c42"><{t}>再次输入新密码：<{/t}></label></th><td><input type="password" id="dom_el_ea78c42" vtype="required" name="pam_account[login_password]" title="<{t}>确认密码：<{/t}>" class="x-input " autocomplete="off"/></td></tr>

</tbody>
</table>
</div>
</div>
</from>
 <{area inject=".mainFoot"}>
<div class="table-action">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>


                <td><{button label=$___desktop="确定"|t:'desktop' class="btn btn-primary" id="user-chkpass-form-submit" type="submit"}></td>


            </tr>
        </tbody>
    </table>
</div>
<{/area}>
<script>
(function(){
    var _form = $('user-chkpass-form');
    var btn =$('user-chkpass-form-submit');
    var dialog=btn.getParent('.dialog').retrieve('instance');
    //var finder = finderGroup['<{$env.get.finder_id}>'];

    _form.store('target',{
        onComplete:function(){

        },
        onSuccess:function(response){

          var hash_res_obj = JSON.decode(response);
		
			if (hash_res_obj.success != undefined && hash_res_obj.success != "")
			{
				try{
					var _dialogIns = btn.getParent('.dialog').retrieve('instance');
				}catch(e){}
				
				if(_dialogIns)
				{	
					_dialogIns.close();
					//window.finderGroup['<{$env.get._finder.finder_id}>'].refresh();
				}
			}
        }
    });

        btn.addEvent('click',function(){

            _form.fireEvent('submit',{stop:$empty});



        });

})();


</script>