<form action="index.php?app=b2c&ctl=admin_member_attr&act=updateisprofit" method="post" name="return_save" id='x-return-form'>
    <div class="goods-detail tableform">
        <h3><{t}>是否开启商品抽成<{/t}></h3>
        <div class="division">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <th><{t}>是否开启:<{/t}></th>
                    <td>
                        <input type="radio" value="true" <{if $isprofit=='true'}>checked<{/if}> name="isprofit" >是
                        <input type="radio" value="false" <{if $isprofit!='true'}>checked<{/if}> name="isprofit" >否
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-action">
            <{button label="保存" type="submit" id="groupactivity-btn" }>
            <{button label="取消" id="groupactivity-cancel"}>
        </div>
    </div>
</form>