<div class="tableform">
<h4><{t}>会员信息<{/t}></h4>
<div class="division">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
  <th ><{t}>姓名：<{/t}></th>
  <td><{$message.from_uname|escape:'html'}></td>
</tr>



<tr>
  <th><{t}>时间：<{/t}></th>
  <td><{$message.create_time|cdate:SDATE_STIME}></td>  
</tr>
<tr>
  <th><{t}>标题：<{/t}></th>
  <td><{$message.subject|escape:'html'}><span></td>
</tr>
<tr>
  <th><{t}>内容：<{/t}></th>
  <td><{$message.content |escape:'html'}></td>
</tr>
</table>
</div>
<{foreach item=rvt key=key from=$revert}>
<div class="division">
<table width="100%" border="0" cellpadding="0" cellspacing="0">

<tr>
  <th><{t}>回复标题：<{/t}></th>
  <td><{$rvt.subject|escape:'html'}><span><a href="index.php?app=b2c&ctl=admin_member_shopbbs&act=delete_reply_msg&p[0]=<{$rvt.msg_id}>"><{t}>删除此回复<{/t}></a></span></td>
</tr>
<tr>
  <th><{t}>回复内容：<{/t}></th>
  <td><{$rvt.content|escape:'html'}></td>
</tr>
</table>
</div>
<{/foreach}>

<h4><{t}>快速回复：<{/t}></h4>
<div id="message-revert-area-<{$message.msg_id}>" class="division">
<input type="hidden" name="for_id" value="<{$message.msg_id}>">
<input type="hidden" name="to_id" value="<{$message.from_id}>">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th><{t}>标题：<{/t}></thd>
    <td><input type="text" name="subject" size="50" value="Re: <{$message.subject|escape:'html'}>" ></td>
  </tr>
  <tr>
    <th><{t}>内容：<{/t}></th>
    <td><textarea name="message" rows="5" cols="50"></textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="table-action">
    <{button label=$___b2c="回复"|t:'b2c' onclick="W.page('index.php?app=b2c&ctl=admin_member_shopbbs&act=revert', {data:$('message-revert-area-{$message.msg_id}'),method:'post'})"}>
    </td>
  </tr>
</table>

</div>
</div>