<div class="side-bx side-quick-links">
	<ul>
		<li><a href='index.php?app=content&ctl=admin_article_detail&act=add&type=1' target='_blank'><{t}>添加文章<{/t}></a></li>
		<li><a href='index.php?app=content&ctl=admin_article_detail&act=add&type=2' target='_blank'><{t}>添加单独页<{/t}></a></li>
		<li><a href='index.php?app=content&ctl=admin_article_detail&act=add&type=3' target='_blank'><{t}>添加自定义页<{/t}></a></li>
		<li><a href='index.php?app=content&ctl=admin_article'><{t}>查看所有文章<{/t}></a></li>
	</ul>
</div>


<div class="side-bx">
	<div class="side-bx-title">
		<h3><a class="icon-manage-handle" href="index.php?app=content&ctl=admin_node" title="<{t}>管理文章节点<{/t}>"><{t}>管理文章节点<{/t}></a><{t}>按文章节点检索<{/t}></h3>
	</div>
	<div class="side-bx-bd">
		<{$goods_cat_html}>
	</div>
</div>