
 <div class="storeapply_c dis_bl clb">
        	<h3>入驻流程</h3>
        	<div class="storeapply_ca">
            	<h5>注册企业账号</h5>
                <div class="ca_main">
                    <div class="fl"><i></i></div>
                    <div class="fl">
                    <p>注册平台企业帐号</p>
                    <p><a href="<{link app=b2c ctl=site_passport act=signup arg0='seller'}>">立即申请 &gt; </a></p>
                    </div>
                </div>
                <div class="box_triangle"></div>
            </div>
            <div class="storeapply_cb">
            	<h5>填写提交信息及资料</h5>
                <div class="cb_main">
                    <div class="fl"><i></i></div>
                    <div class="fl">
                    <p>1.填写申请信息，提交资质</p>
                    <p>2.选择店铺类型，在线签署服务协议</p>
                    <p>3.邮寄纸质资料</p>
                    <p><a href="<{link app='business' ctl='site_store' act='storeapplystep1'}>" >提交入驻申请 &gt; </a></p>
                    </div>
                </div>
                <div class="box_triangle"></div>
            </div>
            <div class="storeapply_cc">
            	<h5>等待审核</h5>
                <div class="cc_main">
                    <div class="fl"><i></i></div>
                    <div class="fl">
                    <p>平台5个工作日给到审核结果</p>
                    </div>
                </div>
                <div class="box_triangle"></div>
            </div>
            <div class="storeapply_cd">
            	<h5>缴纳保证金开店</h5>
                <div class="cd_main">
                    <div class="fl"><i></i></div>
                    <div class="fl">
                    <p>1.缴纳技术服务年费、诚信保证金</p>
                    <p>2.装修店铺，发布商品。</p>
                    </div>
                </div>
                <div class="box_triangle"></div>
            </div>
        </div>