<html>
 <head>
  <title><{t}>网店管理<{/t}></title>
  <style>
  body{margin:0;padding:0;}
  h1{font-size:18px;padding:10px;margin:0;border-bottom:5px solid #A4C5FF}
  form{padding:20px 10px;}
  </style>
 </head>
 <body>
  <h1><{t}>网店管理<{/t}></h1>
  <form method="post">

	<label for="ipt_name"><{t}>用户名：<{/t}></label><br />
	<input type="text" name="usrname" id="ipt_name" /><br /><br />

	<label for="ipt_pwd"><{t}>密码：<{/t}></label><br />
	<input type="password" name="passwd" id="ipt_pwd" /><br /><br />

	<input type="submit" style="padding:5px 20px;font-weight:bold" value="<{t}>登录系统<{/t}>" />
  </form>
 </body>
</html>