<h3><{t}>Sitemap<{/t}></h3>
<div class="tableform">
	<h4><{t}>什么是Sitemap?<{/t}></h4>
	
	<div class="division">
		<p class="note" style="line-height:20px">
		<{t}>Sitemap 可方便您通知搜索引擎您网站上有哪些可供抓取的网页。最简单的 Sitepmap 形式，就是 XML 文件，在其中列出网站中的网址以及关于每个网址的其他元数据（上次更新的时间、更改的频率以及相对于网站上其他网址的重要程度为何等），以便搜索引擎可以更加智能地抓取网站。<{/t}>
		</p>
			<a class="lnk" href="http://www.google.com/support/webmasters/bin/topic.py?topic=8476" target="dialog::{title:'关于sitemap',width:0.9,height:0.9,iframe:true}"><{t}>扩展阅读<{/t}><sup class="c-gray">From Google</sup>&raquo;</a>
	</div>
<h4><{t}>系统为您自动生成的Sitemap地址如下：<{/t}></h4>	
<div class="division">
<p>
<a class="lnk f-20" href="<{$url}>" target="_blank"><{$url}></a>
</p>
</div>
</div>