<div style="text-align:right;padding-right:10px"><{help docid="68" type="link"}><{t}>点击查看帮助<{/t}><{/help}></div>
<{if $intro}>
<div id="payInfoPad" class="division"><{$intro}></div>
<{/if}>
<form action="index.php?app=b2c&ctl=admin_payment_cfgs&act=save" method="post">
<div class="division">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<th><{t}>支付方式名称：<{/t}></th>
		<td>
			<{input type="text" name="custom_name" value=$name}>
		</td>
	</tr>
	<input type=hidden name='pay_type' value=<{$pay_type}>>
	<tr>
		<th><{t}>支持交易货币：<{/t}></th>
		<td>
			<{$curname}>
		</td>
	</tr>

	<{foreach from=$configitems item=item key=key}>
	<tr>
		<th><{$item.labelName}>z</th>
		<td>
			<{input params=$item.params name="config[{$item.params.name}]"}>
		</td>
	</tr>

	<{/foreach}>

    <tr id="setfee">
		<th><{t}>支付手续费设置：<{/t}></th>
			<td>
				<input type="radio" name="feetype" value="1" <{if $feetype==1}> checked <{/if}> ><{t}>按比例收费<{/t}>&nbsp;&nbsp;&nbsp;
				<input type="radio" name="feetype" value="2" <{if $feetype==2}> checked <{/if}>><{t}>固定费用<{/t}>&nbsp;&nbsp;&nbsp;
			</td>
	</tr>
    <tr id="rate">
		<th></th>
		<td>
			<{t}>费率：<{/t}><{input type="text" name="fee" size=3 value=$fee}>&nbsp;%&nbsp;&nbsp;&nbsp;&nbsp;<{t}>说明：顾客将支付订单总金额乘以此费率作为手续费；<{/t}></td>
	</tr>
    <tr id="fix">
		<th></th>
		<td>
			<{t}>金额：<{/t}><{input type="text" name="fee" size=3 value=$fee }>&nbsp;&nbsp;&nbsp;&nbsp;<{t}>说明：顾客每笔订单需要支付的手续费；<{/t}>
		</td>
	</tr>

	<tr>
		<th><{t}>排序：<{/t}></th>
		<td>
			<{input style="width:50px;" type="unsigned" name="orderlist" value=$order}> <{t}>大的排前面<{/t}>
		</td>
	</tr>

	<tr>
		<th><{t}>描述：<{/t}></th>
		<td>
			<{input type="html" name="des" value=$pay_des}>
		</td>
	</tr>

	<span style="display:none;" id="hiddenmethod"><{$hiddenmethod}></span>
</table>
  <div class="table-action"><{button type="submit"  label=$___b2c="保存"|t:'b2c'}></div>

</div>
</form>

<script>
     var ipt=$('setfee').getElements('input[type=radio]').addEvent('click',function(){
		setDisable(this.value);
     });
     
	 var setDisable=function(v){
		if (v==2){
           $('fix').show().getElements('input[type=text]').set('disabled',false);
           $('rate').hide().getElements('input[type=text]').set('disabled',true);
		}else{
           $('rate').show().getElements('input[type=text]').set('disabled',false);
           $('fix').hide().getElements('input[type=text]').set('disabled',true);
		}
     };
     
	 var mtd=$('hiddenmethod').get('text');
     setDisable(<{$feetype}>);

</script>