<app>
    <name>移动商城卖家api接口</name>
    <description>移动商城卖家api接口</description>
    <author>
        <name>BBC 开发团队</name>
        <email></email>
        <url></url>
    </author>
    <version>0.1</version>
    <license>BBC license</license>
   <depends>
      <app>business</app>
   </depends>
</app>
