<!-- right-->
  <div class="member-main">
  <div>

<div class="title"><{t}>延长收货时间<{/t}></div>

<form action="<{link app=business ctl='site_order' act='extend_confirm'}>" method="post"  id="extend_confirm" class="section" extra="subOrder">
  <input type="hidden" name="order_id" value="<{$order_id}>" />
    <p class="admin-title"><{t}>延长收货时间可以让买家有更多时间来“确定收货”，而不会急于去申请退款。<{/t}></p>
  <div class="FormWrap bn" >
    <div class="p10" >
   <ul>
  <li>
    <label><{t}>延长本交易的“确认收货”期限为：<{/t}></label>
    <select id="J_DelayDays" class="delay-days" name="delayDays">
		<option value="3">3天</option>
		<option value="5">5天</option>
		<option value="7">7天</option>
		<option value="10">10天</option>
	</select>
  </li>
<!--    <tr>
    <th><{t}>选择支付币别：<{/t}></th>
    <td><{$currencys.cur_name}></td>
  </tr>
--> 
</ul>
<div class="pl150 m10">
<{button id="sub" class="common-btn" type="submit" isDisabled="true" label="确认"}>
<!-- <input class="btnstyle pay-btn" type="submit" value="<{t}>点击立刻付款<{/t}>" /> --></div>
</div>
</form>


</div>
</div>
<!-- right-->
<script>
	Popup.hide();
</script>
