<form id="menu_app_module" action='index.php?app=site&ctl=admin_menu&act=saveappmodule&menu[id]=<{$menu.id}>&menu[app]=<{$menu.app}>&menu[ctl]=<{$menu.ctl}>&menu[act]=<{$menu.act}>' method='POST' class="tableform">
<div class="division">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
  <th><{t}>菜单标题：<{/t}></th>
  <td><{input type="text" name="menu[title]" value=$menu.title vtype='required' size=15 }></td>
</tr>
<tr>
  <th><{t}>排序：<{/t}></th>
  <td><{input type="text" name="menu[display_order]" value=$menu.display_order|default:0 vtype='required&&number' size=4 }></td>
</tr>
<tr>
  <th><{t}>新开窗口：<{/t}></th>
  <td><input type='checkbox' name='menu[target_blank]' value='true' <{if $menu.target_blank eq 'true'}>checked<{/if}> /></td>
</tr>
<tr>
  <th><{t}>在菜单上隐藏：<{/t}></th>
  <td><input type='checkbox' name='menu[hidden]' value='true' <{if $menu.hidden eq 'true'}>checked<{/if}> /></td>
</tr>
<tr>
<th><{t}>APP定义<{/t}></th>
<td>&nbsp;</td>
</tr>
<tr>
<{foreach from=$html item=item}>
<th><{$item.title}>：</th>
<td><{$item.input}></td>
<{/foreach}>
</tr>
</table>
</div>

<div class="table-action">
<{if $menu.id eq ''}>
<{button type="button" id="menuprev" class="btn" label=$___a="上一步"|t:'site'}>
<{/if}>
<{button type='submit' label=$___a='保存'|t:'site' }>
</div>

</form>


<script>
$('menu_app_module').store('target',{
	onComplete:function(){
		if($('menu_app_module').getParent('.dialog'))
		$('menu_app_module').getParent('.dialog').retrieve('instance').close();
	}
});
/* codes below are useless?*/
if ($('menuprev'))
$('menuprev').addEvent('click',function(e){
	var url='index.php?app=site&ctl=admin_menu&act=add&pre[type]=module';
	new Request.HTML({url:url,update:$('menu_app_module').getParent()}).post($H({step:'aaa',ba:'111'}));
});

</script>