<!DOCTYPE >
<html><head>
  <title> New Document </title>
 <link rel="icon" href="<{$env.app.res_url}>install_pic.gif" type="image/x-icon" />
 <link rel="stylesheet" href="<{$env.app.res_url}>/framework.css" type="text/css" />
 <style>
  body,html{height: 100%;}
  </style>
 <meta charset="utf-8">
 </head>
 <body>
 <div class="install-outer">
 <div class="install-middle">
  <div class="install-inner">
  <div class="leftpic"></div>
  <p class="rightcont">您的网店没有正常显示，可能没有安装模板或者模板不合标准，建议您去网店后台<a href="#">模板列表</a>去安装并启用一套模板。</p>
  </div>
  </div>
  </div>
 </body>
</html>
