<div class="tableform">    
	<div class="division">
		<table width="100%" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<th><em class="red">*</em><label for="dom_el_f949790"><{t}>物流公司名称<{/t}></label></th>
					<td><{$dlycrop.name}></td>
				</tr>
				<tr>
					<th><label for="dom_el_f949791"><{t}>网址<{/t}></label></th>
					<td><{$dlycrop.website}></td>
				</tr>

				<tr>

					<th><label for="dom_el_f949792"><{t}>物流公司网址<{/t}></label></th>
					<td><{$dlycrop.request_url}></td>
				</tr>
				<tr>
				<th><label for="dlycorp_ordernum"><{t}>排序<{/t}></label></th>

				<td><{$dlycrop.ordernum}></td>
			</tr>

			</tbody>
		</table>
	</div>
</div>
