<app>
    <name>积分功能企业版</name>
    <description>Point professional version</description>

    <author>
        <name>BBC 开发团队</name>
        <email></email>
        <url></url>
    </author>

    <version>0.1</version>
    <license>BBC license</license>

	<depends>
		<app>b2c</app>
	</depends>

</app>
